@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

nav div img {
    width: 150px;
    margin-top: 35px;
    margin-left: 50px;
}

.list {
    position: relative;
    margin-left: 250px;
    bottom: 40px;
}

.list-item:hover {
    color: #313030;
    transition: 0.2s;
}

.list-item {
    position: relative;
    display: inline;
    margin-left: 35px;
    font-family: 'Montserrat';
    color: #bdbdbd;
    font-weight: 600;
    font-size: smaller;
}

.button-group {
    position: relative;
    margin-left: 78%;
    bottom: 130px;
}

.nav-button {
    background-color: #5562b7;
    font-family: 'Montserrat';
    color: white;
    border: #8592e4;
    position: relative;
    top: 45px;
    border-radius: 10px;
    padding: 15px 25px;
}

.nav-button:hover {
    background-color: #adb7f9;
    color: #ffffff;
    transition: 0.2s;
}

span {
    color: #646dab;
}

.description {
    font-family: 'Montserrat';
    font-size: small;
    color: #717070;
    font-weight: 100;
    opacity: 0.9;
    margin-left: 50px;
    position: relative;
    top: 20px;
}

.heading-text {
    position: relative;
    font-family: 'Sora';
    color: #362b68;
    font-size: 250%;
    margin-left: 50px;
    bottom: 30px;
}

.nav-button {
    margin-left: 50px;
}

.bg-img {
    position: absolute;
    margin-left: 540px;
    bottom: -140px;
    height: 96%;
}

.width-image {
    width: 850px;
}